<h1>All Tags</h1>

<ul id='tags'>
  <% @tags.each do |tag| %>
  <li>
    <%= link_to tag.name.capitalize, tag_path(tag), class: 'tag_name' %>
    <%= link_to "Delete", 
        tag_path(tag), 
        data: {confirm: 'Delete this tag?'}, 
        method: :delete %>
  </li>
  <% end %>
</ul>

<br /><%= link_to "Return to Articles List", articles_path %>